<!DOCTYPE html>
<html>
<head>
  <title>Projector</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="bootstrap.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='container'>
<nav class='navbar navbar-default'>

<a href='/' class='navbar-brand'>	
     Projector
  </a>
</nav>



<%= yield %>

</body>
</html>
